
              <ul>
                  <% list.forEach(function(item){ %>
                  <li class="article-item">
                      <div class="channel"></div>
                      <a class="title" href='#'><%= item.title %></a>
                      <p class="excerpt"><%= item.excerpt %></p>
                      <div class="infobar text-gray">
                          <span>作者:<%= item.author %></span>
                          <span>时间:<%= item.date %></span>
                          <span>回复:<%= item.reply %></span>
                          <span>浏览:<%= item.see %></span>
                      </div>
                  </li>
                  <% }); %>
              </ul>